body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#app {
    max-width: 600px;
    margin: auto;
}

button {
    padding: 12px 20px;
    margin: 10px;
    background: #00AEEF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
